 <form action="/language/add" id="language-add" method="post">
  <div class="form-group">
    <label for="language-name">Мова:</label>
    <input type="text" class="form-control" id="language-name" name="name">
  </div>
  <div class="form-group">
    <label for="language-text">Еталонний текст, написаній на вказаній мові:</label>
      <textarea rows="10" class="form-control" name="text" id="language-text"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Додати</button>
</form>