  <div class="truth-lab-main-promo">
      <div class="left">
          <div class="truth-lab-template-1">TruthLab</div>
          <div class="truth-lab-template-2">Spy of fakes</div>
          <div class="truth-lab-template-3">TruthLab is an online tool that helps to recognize faces among your texts, photos and documents.</div>
          <a href="/" class="truth-lab-button violet">Learn more ...</a>
      </div>
      <div class="right">

      </div>
  </div>
  <div class="truth-lab-tools">
      <div class="truth-lab-tools-inner">
          <h3>Tools</h3>
          <p class="truth-lab-template-4">Start to check yor textes for free and continue with photos and documents  if you want to know the truth.</p>
          <div class="tools-left">
              <img src="/static/img02.png"/>
              <p class="truth-lab-template-5">Is the text fake or not?</p>
              <p class="truth-lab-template-6">Click and check the text</p>
              <div class="arrow-black"></div>
          </div>
          <div class="tools-center">
              <img src="/static/img03.png"/>
              <p class="truth-lab-template-5">Fake photo?</p>
              <p class="truth-lab-template-6">Click and find it out</p>
              <div class="arrow-violet"></div>
          </div>
          <div class="tools-right">
              <img src="/static/img04.png"/>
              <p class="truth-lab-template-5">Is it real signature?</p>
              <p class="truth-lab-template-6">Make a photo and see the results</p>
              <div class="arrow-black"></div>
          </div>
      </div>
  </div>
  <div class="truth-lab-features">
       <h3>Features</h3>
          <div class="features-left">
              <img src="/static/icon-fast.png"/>
              <p class="truth-lab-template-7">Fast</p>
              <p class="truth-lab-template-8">Analysis<br/>in seconds</p>
          </div>
          <div class="features-center">
              <img src="/static/icon-reliable.png"/>
              <p class="truth-lab-template-7">Faithful & Reliable</p>
              <p class="truth-lab-template-8">Neural networks are constantly learning<br />as soon as new data arrives </p>
          </div>
          <div class="features-right">
              <img src="/static/icon-up-to-date.png"/>
              <p class="truth-lab-template-7">Up to date</p>
              <p class="truth-lab-template-8">The text database is updated<br />every 12 hours</p>
          </div>
         <div class="features-left">
              <img src="/static/icon-prices.png"/>
              <p class="truth-lab-template-7">Low prices</p>
              <p class="truth-lab-template-8">Start using Advanced<br/>only for 5 $ per month</p>
          </div>
          <div class="features-center">
              <img src="/static/icon-dashboard.png"/>
              <p class="truth-lab-template-7">Personal dashboard</p>
              <p class="truth-lab-template-8">A personal account that you can<br/>configure for yourself</p>
          </div>
          <div class="features-right">
              <img src="/static/icon-easy.png"/>
              <p class="truth-lab-template-7">Easy to use</p>
              <p class="truth-lab-template-8">Just drop your text, link or<br/>photo in the field and get the result</p>
          </div>
  </div>
  <div class="truth-lab-pricing">
        <div class="truth-lab-pricing-inner">
       <h3>Pricing</h3>
          <div class="pricing-left">
              <div class="inner-header"></div>
              <p class="truth-lab-template-9">Starter</p>
              <p class="truth-lab-template-10">Free</p>
              <p class="truth-lab-template-11">the only functions you need<br/> to start using TruthLab</p>
              <ul>
                  <li>first point</li>
                  <li>first point</li>
                  <li>first point</li>
                  <li>first point</li>
              </ul>
              <p class="truth-lab-template-11">Current plan</p>
          </div>
          <div class="pricing-center">
              <div class="inner-header"></div>
              <p class="truth-lab-template-9">Advanced</p>
              <p class="truth-lab-template-10">5 $ / month</p>
              <p class="truth-lab-template-11">the only functions you need<br />to start using TruthLab</p>
              <ul>
                  <li>first point</li>
                  <li>first point</li>
                  <li>first point</li>
                  <li>first point</li>
              </ul>
              <div class="center">
                  <a href="#" class="truth-lab-button green">Start using it now</a>
              </div>
              <div class="center">
                  <a href="#" class="truth-lab-button white-green">Learn more</a>
              </div>
          </div>
       <div class="pricing-right">
              <div class="inner-header"></div>
              <p class="truth-lab-template-9">Pro</p>
              <p class="truth-lab-template-10">10 $ / month</p>
              <p class="truth-lab-template-11">the only functions you need<br/>to start using TruthLab</p>
              <ul>
                  <li>first point</li>
                  <li>first point</li>
                  <li>first point</li>
                  <li>first point</li>
              </ul>
              <div class="center">
                  <a href="#" class="truth-lab-button blue">Start using it now</a>
              </div>
              <div class="center">
                  <a href="#" class="truth-lab-button white-blue">Learn more</a>
              </div>
          </div>
        </div>
  </div>
  <div class="truth-lab-empowering-block">
      <img src="/static/img05.png"/>
  </div>
    <script src="/static/js/materialize.min.js"></script>
<link rel="stylesheet" href="/static/css/materialize.min.css"/>