<h1 class="jumbotron-heading">Загальна інформація</h1>
<p>Система <strong>«TruthLab»</strong> призначена для роботи з текстовими даними, їх аналізу з метою автоматизації визначення тематики тексту, факту наявності спаму у тексті, визначення мови написання тексту, пошук схожих текстів та визначення відсотку схожості текстів, визначення факту наявності плагіату.</p>
<p>Основною метою системи <strong>«TruthLab»</strong> є визначення фейкових текстових даних, тобто таких текстів або новин, які містять неправдиву інформацію.</p>
<p>Засоби системи <strong>«TruthLab»</strong> забезпечують реалізацію наступних інформаційних процесів:</p>
  <ul>
      <li>Управління користувачами системи (аутентифікацію та авторизацію існуючих користувачів, реєстрацію нових користувачів, зміну реєстраційної інформації);</li>
      <li>Наповнення системи початковим набором даних, зібраним на основі текстів, отриманих з основних новинних сайтів україномовного Інтернету</li>
      <li>Глибинне та машинне навчання (Deep Learning, Machine Learning)</li>
      <li>Виявлення наявності спаму в текстових даних</li>
      <li>Визначення тематики текстових даних</li>
      <li>Визначення мови написання тексту</li>
      <li>Виявлення схожих текстових даних та плагіату</li>
      <li>Аналіз тексту на предмет наявності фейкової інформації</li>
  </ul>
</p>