<h1>Адмінстрування</h1>
<div style="margin-top:5px;">
    <a href="/admin/themefit" id="fit-themes" class="btn btn-primary admin-fit-link">Запустити перенавчання алгоритма модуля "Теми"</a>
</div>
<div style="margin-top:5px;">
    <a href="/admin/languagefit" id="fit-languages"  class="btn btn-primary admin-fit-link">Запустити перенавчання алгоритма модуля "Мови"</a>
</div>
<div style="margin-top:5px;">
    <a href="/admin/spamfit" id="fit-spam" class="btn btn-primary admin-fit-link">Запустити перенавчання алгоритма модуля "Спам"</a>
</div>
<div style="margin-top:5px;">
    <a href="/admin/fakefit" id="fit-fake" class="btn btn-primary admin-fit-link">Запустити перенавчання алгоритма модуля "Фейки"</a>
</div>
<div class="alert alert-success" role="alert" id="admin-fit-alert" style="display: none;">

</div>